*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --bg-color:#202020
}
html{
    font-size: 62.5%;
    font-family: "urbanist";
}
body{
    background: black;
}
.container{
    max-width: 140rem;
    margin: auto;

}

h1,h2,h3,h4,h5{
    color: white;
}
p{
    color: #fff;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    line-height: 1.6;}

header{
    height: 8rem;
    box-shadow: rgba(255,255,255,0.3) 0px 10px 10px  -10px;
    background-color: #202020;
    width: 100%;
    &.container{
        height: 10rem;
    }
}
.navbar{
   display: grid; 
   grid-template-columns: 0.5fr 1fr;
   align-items: center;
   height: 10rem;
   padding: 0 3.2rem;
   
}
nav ul{
    display: flex;
    justify-content: flex-end;
    color: #fff;
   gap: 3.2rem;
  color: #fff;
  
  & li a{
    color: #fff;
    font-size: 2.1rem;
    text-decoration: none;
  }
  & li{
    list-style: none;
    }   
}
/* home */
.hero-section{
    padding: 3.2rem;
    margin: 9rem  auto;
    gap:6.4rem
    
}
.home-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.paragraph{
    margin: 3.2rem;
}
.heading-xl{
/* font-size: clamp(5.2rem,6vw); */
font-family: inherit;
font-size: 4rem;
font-weight: 700;
line-height: 1.15;
letter-spacing: -1px;
align-items: center;
justify-content: center;
margin-left: 2.1rem;

}
.hero-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-image{
    width: 100%;
}

.container{
    width: 100%;
}
.btn{
    display: flex;
    align-items: center;
    /* gap: 3rem; */
    font-size: 20px;
    border-radius: 10px;
    margin-left: 3rem;
    border: 2px solid  #202020;
    padding: 0.5rem 1rem ;
    font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;
    border-width: 0.1rem;
    border-style: solid;

}

.btn:hover{
    background: #202020;
    color: #fff;
}
.container-title{
    justify-content: center;
    align-items: center;
    margin: 2rem auto ;
    font-size: 3rem;
    display: flex;


}
.card{
/* margin: 2rem; */
/* padding: 2rem; */
width: 100%;
align-items: center;
justify-content: center;
margin: auto;




}
.card-container{
    border: 2px solid gray;
    border-radius: 10px;
    padding: 1rem ;
    width: 100%;
    color: gray;
 box-shadow: rgba(214, 34, 34, 0.7) 5px 5px 5px -5px;
    width: 300px;
margin-top: 2rem;
& p {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 500;
font-size:1.5rem ;
text-transform: capitalize;
color: gray;


}
& span{
font-family: sans-serif;
color: #fff;
text-transform: uppercase;
font-size: 2rem;



}
 .card-container p{
    font-size: 3rem;


 } 
 .card-container span{
    font-size: 2rem;
 } 
}
.card-title{
font-size: 20px;
font-weight: 500;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.card-main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: 1rem;
   
}
.form-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    
  
}
.main-form{
    justify-content: center;
    align-items: center;
    margin: 10rem auto;
    width: 400px;

}
.form-container input{
    font-size: 1rem;
    background: black;
    font-size: 700;
    color: #fff;
    margin: 1rem;
    padding: 2rem;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;


}
.form-container textarea{
    height: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: black;
    color: #fff;
    border: yellow 2px solid;
    border-radius: 5px;
   
    margin: 1rem;
    padding: 1rem;
}
.form-container textarea:focus{
    box-shadow: rgba(119, 0, 255, 0.5) 0 0 5px 5px;
}
.form-container button{
margin: 2rem;
justify-content: left;
padding: 2px;
font-size: 2.5rem;



}

.image-country img{
    width: 250px;
    height: 200px;
    margin:  2rem auto;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    display: block;
    border-radius: 10px;

    
}
.image-country  img:hover{
    border: 3px solid #202020;
}
.image-country{
    border: 2px solid #202020;
    margin-bottom: 2rem   ;

}
.card-container button{
    margin-left: 0;
    margin-top: 1rem;
}
.card-detail{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
}
.detail-image img{
    height: 400px;
    width: 350px;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: block;    
}


.detail-image{
  /* border: 2px solid gray; */
  margin:2rem  ;
  padding-bottom: 2rem;

}
.card-content{
    padding-top:2rem ;
    margin-top: 3rem;
    /* & p{
        font-size: 2rem;
        color: gray;
    } */
 
}
.card-description span{
   
    font-size: 2rem;
    /* color: gray; */
    color: #fff;

}
.infocontainer p{
    color: gray;
}
.detail-container{
    border: 2px solid gray;
    border-radius: 10px;
}
.grid-country{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
}
@media screen  and (max-width:800px) {
    .grid-country{
        grid-template-columns: repeat(2,1fr);
    }
}
